.background {
    --background: none;
    --ion-background-color: linear-gradient(209deg, black, var(--ion-color-dark), var(--ion-color-primary));
    background-position: center center;
    background-size: cover;
}

ion-content {
    --padding-start: var(--ion-padding);
    --padding-end: var(--ion-padding);
}

.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-input {
    margin-top: 20px;
}

ion-input:hover {
    --border-color: var(--ion-color-light-tint);
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--ion-color-primary) inset !important;
    -webkit-text-fill-color: var(--ion-color-light) !important;
}

.ripple-parent {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  
    position: relative;
    overflow: hidden;
  
    user-select: none;
  
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: var(--ion-color-primary);
  }

p {
    text-align: center;
    width: 100%;
}

ion-router-link {
    display: inline-block;
    width: 100%;
    text-align: center;
}