/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: #EC5D54;
	--ion-color-primary-rgb: 236,93,84;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d0524a;
	--ion-color-primary-tint: #ee6d65;

    --ion-color-secondary: #1A2232;
	--ion-color-secondary-rgb: 26,34,50;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #171e2c;
	--ion-color-secondary-tint: #313847;

	--ion-color-tertiary: #1A2232;
	--ion-color-tertiary-rgb: 26,34,50;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #171e2c;
	--ion-color-tertiary-tint: #313847;

	--ion-color-success: #65E8A1;
	--ion-color-success-rgb: 101,232,161;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #59cc8e;
	--ion-color-success-tint: #74eaaa;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #E7EBF2;
	--ion-color-light-rgb: 231,235,242;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cbcfd5;
	--ion-color-light-tint: #e9edf3;

	--ion-color-medium: #AFB7C7;
	--ion-color-medium-rgb: 175,183,199;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #9aa1af;
	--ion-color-medium-tint: #b7becd;

	--ion-color-dark: #000C18;
	--ion-color-dark-rgb: 0,12,24;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #000b15;
	--ion-color-dark-tint: #1a242f;

    --ion-color: var(--ion-color-light);
    --ion-color-step-750: var(--ion-color-light-tint); 

    --ion-background-color: var(--ion-color-dark);
    --ion-tab-bar-background: var(--ion-color-dark);
    --ion-text-color: var(--ion-color-light);;
    --ion-tab-bar-color-selected: var(--ion-color-primary);
    --ion-tab-bar-color: var(--ion-color-light-shade);
    --ion-tab-button-color-focused: var(--ion-color-light);
    --ion-toolbar-background: var(--ion-color-dark);
    --ion-toolbar-color: var(--ion-color-light);

    --ion-padding: 16px;
}

.ion-side-padding {
	padding-left: 16px;
	padding-right: 16px;
}

ion-segment {
    --background: var(--ion-color-secondary);
}

ion-segment-button {
    --indicator-color: var(--ion-color-secondary-tint);

    --color: var(--ion-color-light-shade);
    --color-hover: var(--ion-color-light);
    --color-checked: var(--ion-color-light);
}

ion-note {
    --color: var(--ion-color-medium);
}

ion-chip {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-light);
}